<!doctype html>
<html>
<head>
<title>完成订单</title>
<meta http-equiv='content-type' content='text/html;charset=utf-8'/>
<meta http-equiv='refresh' content='3'/>
<style>
	table{
		border:1px solid black;
		border-collapse:collapse;
		width:100%;
	}
	th,td{
		height:40px;
		border:1px solid black;
		width:600px;
		text-align:center;
	}
	th{
		background-color:#bED;
	}
</style>

</head>
<body>

	<table id='table1'>
	<tr>
		<th>订单号</th>
		<!--<th>工作类型</th>-->
		<th>线体号</th>
		<!--<th>物料号</th>-->
		<!--<th>物料名称</th>-->
		<!--<th>物料数目</th>-->
		<th>创建时间</th>
		<th>配送小车</th>
		<th>完成时间</th>
		<th>状态</th>
		<th>总时间</th>
	</tr>
	{%for i in data%}
	<tr>
		<td>{{i.order_sn__order_sn}}</td>
		<!--<td>{{i.order_sn__work_type}}</td>-->
		<td>{{i.order_sn__line_id}}</td>
		<!--<td>{{i.goods_id}}</td>-->
		<!--<td>{{i.goods_id__goods_name}}</td>-->
		<!--<td>{{i.goods_count}}</td>-->
		<td>{{i.order_sn__order_time}}</td>
		<td>{{i.order_sn__car_number}}</td>
		<td>{{i.order_sn__finish_time}}</td>
		<td>{{i.order_sn__order_state}}</td>
		<td>{{i.order_sn__total_time}}</td>
	</tr>
	{%endfor%}
	</table>


</body>
</html>